<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
	<div id="navigation" th:fragment="navigation">
		<div class="profile-picture">
			<a href="index.html"> <img
				th:src="@{/resources/images/avatar.png}" class="img-circle m-b"
				alt="logo">
			</a>

			<div class="stats-label text-color">
				<span class="font-extra-bold font-uppercase"><span
					sec:authentication="name">Bob</span></span>

				<div class="dropdown">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown"> <small
						class="text-muted"><span
							sec:authentication="principal.authorities">[ROLE_USER,
								ROLE_ADMIN]</span> <b class="caret"></b></small>
					</a>
					<ul class="dropdown-menu animated flipInX m-t-xs">
						<li><a href="#">Contacts</a></li>
						<li><a href="#">Profile</a></li>
						<li><a href="#">Messages</a></li>
						<li class="#"></li>
						<li><a href="/logout" th:href="@{#}"
							onclick="$('#logoutform').submit();">Deconnexion</a></li>
					</ul>
				</div>
			</div>
		</div>

		<ul class="nav" id="side-menu">
			<li class="active"><a th:href="@{/}"> <span
					class="nav-label">Dashboard</span> <span
					class="label label-success pull-right">v.1</span>
			</a></li>
			<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_AGENT')"><a
				href="#"><span class="nav-label">Clients</span><span
					class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a
						th:href="@{/client/creer?controller=self&update=false&codeClient=false}">Créer
							un client</a></li>
					<li><a th:href="@{/client/liste?page=0&size=20}">Clients</a></li>
				</ul></li>
			<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_AGENT')"><a
				href="#"><span class="nav-label">Réservations</span><span
					class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/location/new}">Location</a></li>
					<li><a th:href="@{/location/reservation}">Reservation</a></li>
					<li><a th:href="@{/location/course}">Courses</a></li>
					<li><a th:href="@{/location/liste}">Liste Locations</a></li>
					<li><a th:href="@{/location/liste/reservation}">Liste
							Reservations</a></li>
					<li><a th:href="@{/location/liste/courses}">Liste Courses</a></li>
				</ul></li>
			<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_AGENT')"><a
				href="#"><span class="nav-label">Vehicule</span><span
					class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/vehicule/new}">Creer un vehicule</a></li>
					<li><a th:href="@{/vehicule/liste}">Liste de vehicule</a></li>
					<li><a th:href="@{/vehicule/categorie}">Categorie de
							vehicule</a></li>
					<li><a th:href="@{/vehicule/maintenance}">Révision</a></li>
				</ul></li>
			<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_AGENT')"><a
				href="#"><span class="nav-label">Chauffeur</span><span
					class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/conducteur/nouveau?message=none}">Nouveau</a></li>
					<li><a th:href="@{/conducteur/recette/search?date=&date2&codeChauffeur=&statut=}">Recette</a></li>
					<li><a th:href="@{/conducteur/liste}">Liste</a></li>
				</ul></li>
			<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_AGENT')"><a
				href="#"><span class="nav-label">Opération</span><span
					class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/operation/recette}">Recette</a></li>
					<li><a th:href="@{/operation/salaire}">Salaire</a></li>
					<li><a th:href="@{/operation/caisse}">Caisse</a></li>
					<li><a th:href="@{/operation/virement}">Virement</a></li>
					<li><a th:href="@{/operation/historique?date=&date2&type&beneficiaire&statut=}">Historique</a></li>

				</ul></li>
			<li><a href="#"><span class="nav-label">Statistiques</span><span
					class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/}">Alertes</a></li>
					<li><a th:href="@{/}">Contrats</a></li>
					<li><a th:href="@{/}">Véhicule</a></li>
					<li><a th:href="@{/}">Conducteurs</a></li>
					<li><a th:href="@{/}">Caisse</a></li>
				</ul></li>
			<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_AGENT')"><a
				href="#"><span class="nav-label">Garage</span><span
					class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/vehicule/garage}">Entrée Garage</a></li>
					<li><a th:href="@{/vehicule/gestion/pieces}">Gestion
							Pièces</a></li>
					<li><a th:href="@{/}">Gestion Founisseur</a></li>
					<li><a th:href="@{/}">Gestion Mecano/Tolier</a></li>
					<li><a th:href="@{/}">Créer Founisseur</a></li>
					<li><a th:href="@{/}">Créer Techniciens</a></li>
				</ul></li>
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"><span
					class="nav-label">Administration</span><span class="fa arrow"></span>
			</a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/admin/nouveau}">Créer Utilisateur</a></li>
					<li><a th:href="@{/admin/profile}">Profile</a></li>
					<li><a th:href="@{/admin/document}">Document</a></li>
					<li><a th:href="@{/admin/partenaires}">Partenaires</a></li>
				</ul></li>
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"><span
					class="nav-label">Paramettres</span><span class="fa arrow"></span>
			</a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/}">Utilisateurs</a></li>
				</ul></li>
			<li><a href="#"><span class="nav-label">Supports</span><span
					class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a th:href="@{/}">Messages</a></li>
					<li><a th:href="@{/}">Nous Joindre</a></li>
					<li><a th:href="@{/}">Fiche Tech</a></li>
					<li><a th:href="@{/}">Conditions</a></li>
				</ul></li>
		</ul>
	</div>
</body>
</html>